.Home {
    margin-top: 200px;
}

video {
    position: fixed;
    width: 100%;
    left: 50%;
    top: 55%;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }