.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: none;
  padding: 0 20px;
}

.nav-logo {
  color: #fff;
  text-decoration: none;
  margin-right: auto;
}

.nav-logo img {
  height: 30px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.language-switcher {
  margin-left: auto;
}

button {
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

button:first-child {
  border-right: 1px solid #fff;
  padding-right: 15px;
  margin-right: 10px;
}
